# Environment variables
# .env files are committed but MUST contain only encrypted values (AES::@...@)
# Pre-commit hook will check this automatically
!.env
!.env.client
!.env.admin

# Traefik
traefik/ssl-certs/**
