{
  email {env.CLOUDFLARE_EMAIL}
}

liatoshynsky.com {
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }
  reverse_proxy lf-placeholder:80
}

client.liatoshynsky.com {
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }
  basic_auth {
  	admin {env.CADDY_BASIC_AUTH_HASH}
  }

  reverse_proxy lf-client:3000
}

admin.liatoshynsky.com {
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }
  basic_auth {
  	admin {env.CADDY_BASIC_AUTH_HASH}
  }

  reverse_proxy lf-admin:3001
}

status.liatoshynsky.com {
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }
  reverse_proxy uptime-kuma:4173
}
