volumes:
  caddy_data:
  caddy_config:
  uptime-kuma:

services:
  caddy:
    image: caddy:latest
    restart: unless-stopped
    container_name: caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./caddy/certs:/etc/certs:ro
      - caddy_data:/data
      - caddy_config:/config
    env_file: .env

  lf-placeholder:
    image: ghcr.io/liatoshynsky-foundation/lf-placeholder:latest
    pull_policy: always
    restart: unless-stopped
    container_name: lf-placeholder
    env_file: .env
    expose:
      - "80"
    healthcheck:
      test:
        ["CMD-SHELL", "wget -q -O- http://localhost/ >/dev/null 2>&1 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  client:
    image: ghcr.io/liatoshynsky-foundation/lf-client:1bcf6cb50f0c5f8f731c382a53524c3c771c645a
    pull_policy: always
    container_name: lf-client
    env_file: .env
    expose:
      - "3000"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget -q -O- http://localhost:3000/en >/dev/null 2>&1 || exit 1",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  admin:
    image: ghcr.io/liatoshynsky-foundation/lf-admin:8f9a9eb5ef759d653c558c40ad6a7bcd6f83f12d
    pull_policy: always
    container_name: lf-admin
    env_file: .env
    expose:
      - "3001"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget -q -O- http://localhost:3001/ >/dev/null 2>&1 || exit 1",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  uptime-kuma:
    image: louislam/uptime-kuma:2
    container_name: uptime-kuma
    restart: always
    volumes:
      - uptime-kuma:/app/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
    expose:
      - "4173"
    environment:
      - UPTIME_KUMA_PORT=4173
