api:
  dashboard: false
  insecure: false

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"

certificatesResolvers:
  cloudflare:
    acme:
      email: ${CLOUDFLARE_EMAIL}
      storage: /data/acme.json
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: "30s"
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"
      caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: internal
    watch: true

log:
  level: INFO

accessLog: {}
