name: Deploy

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy
        uses: appleboy/ssh-action@master
        env:
          ENV_PASSWORD: ${{ secrets.ENV_PASSWORD }}
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          envs: ENV_PASSWORD
          script: |
            set -e
            cd ${{ secrets.DEPLOY_PATH }}
            git pull
            make decrypt
            make pull
            make down
            make deploy
