name: Weekly PR Report

on:
  schedule:
    - cron: "0 12 * * 5" 
  workflow_dispatch:
  pull_request:
    branch:
      - feature/999/pr-notifications

jobs:
  pr-report:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install requests

      - name: Run PR report script
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          GITHUB_TOKEN: ${{ github.token}}
        run: |
          python your_script.py
